dist/
*.log
*synctex*
references.json
affiliations.json
.vscode
.venv/*

#MacOS nonsense
.DS_Store
.Rproj.user
*.Rproj

# twitter presentation images
twitter/

# word docs
_wc.docx
final.docx
~$_wc.docx
~$final.docx

# Renamed figures (for submission)
figures/Figure_*
# Tex File to doc (for submission)
draft.tex
scripts/word_doc.sh